{
  "projects": [
    {
      "id": "1",
      "title": "Project ABC",
      "details": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in bibendum sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent eu gravida mauris, non dictum purus. Duis sem erat, pretium sit amet commodo ac, posuere id metus. Morbi erat urna, commodo dapibus gravida at, egestas a enim. Suspendisse ut consequat orci. Vivamus metus lorem, sollicitudin sed sagittis vel, pretium in est. Mauris ut nulla hendrerit turpis finibus fermentum vel et turpis.",
      "complete": false,
      "assignee": "1"
    },
    {
      "id": "2",
      "title": "Project DEF",
      "details": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in bibendum sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent eu gravida mauris, non dictum purus. Duis sem erat, pretium sit amet commodo ac, posuere id metus. Morbi erat urna, commodo dapibus gravida at, egestas a enim. Suspendisse ut consequat orci. Vivamus metus lorem, sollicitudin sed sagittis vel, pretium in est. Mauris ut nulla hendrerit turpis finibus fermentum vel et turpis.",
      "complete": true,
      "assignee": "2"
    }
  ],
  "staffs": [
    {
      "id": "1",
      "name": "John Doe",
      "position": "Front-end Developer"
    },
    {
      "id": "2",
      "name": "Jane Smith",
      "position": "Back-end Developer"
    }
  ]
}